<a href="https://colab.research.google.com/github/YejooPark/Python/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 이름과 태어난 생년월일을 입력받아 출력하는 프로그램이다.

In [8]:
# 이름과 태어난 생년월일을 입력받아 출력하는 프로그램이다.

name=input("이름을 입력하세요:")
year, month, day=input ("당신이 태어난 해의 년도, 월, 일을 차례로 입력하세요:").split() # '2000,3,5'
print(f"{name}씨! 당신의 생년월일은 {year}년 {month}월 {day}일입니다.")

이름을 입력하세요:홍길동
당신이 태어난 해의 년도, 월, 일을 차례로 입력하세요:2000 03 05
홍길동씨! 당신의 생년월일은 2000년 03월 05일입니다.

In [9]:
name=input("이름을 입력하세요: ")
age=input("나이를 입력하세요: ")
print("당신의 이름은", name,"이고", "나이는", age,"세 입니다.")

이름을 입력하세요: 홍길동
나이를 입력하세요: 20
당신의 이름은 홍길동 이고 나이는 20 세 입니다.

In [6]:
num1=int(input("숫자 정수1를 입력하세요:"))
num2=int(input("숫자 정수2를 입력하세요:"))
tot=num1+num2
print(f"{num1}과 {num2}의 합계는 {tot}이다.")

숫자 정수1를 입력하세요:150
숫자 정수2를 입력하세요:350
150과 350의 합계는 500이다.

In [ ]:
number=123456
print(f"{number}")
print(f"{number}")
print(f"{number}")

In [17]:
num1=int(input("enter a number1.."))
num2=int(input("enter a number2.."))
num3=int(input("enter a number1.."))
tot=num1+num2+num3
print(f"{num1}과 {num2}과 {num3}의 합은 {tot}이다.")

enter a number1..10
enter a number2..80
enter a number1..20
10과 80과 20의 합은 110이다.

In [46]:
kor=100
eng=80
math=75
sum=kor+eng+math
avg=sum/3
print(f"총점: {sum}")
print(f"평균: {avg:.2f}")

총점: 255
평균: 85.00

In [34]:
list_color=["red", "blue", "orange", "green", "purple"]
print(list_color.pop())
print(list_color)
list_color.remove("orange")
print (list_color)

purple
['red', 'blue', 'orange', 'green']
['red', 'blue', 'green']

In [65]:
num=int(5 * 5 + 2 *((25-5)/ 5)) ** 2)
print(num)

SyntaxError: ignored

In [55]:
화씨=72
섭씨온도=("화씨온도-32.0"/1.8)
print("입력한 화씨온도" {화씨} "도는 {섭씨온도}"로" {서}"이다.")

SyntaxError: ignored

In [68]:
str1="Python"
str2="Programming"
str3="is"
str4="a amazing Language."
str1+=''+str2

In [70]:
a=10
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [71]:
a=100
b=200
print(a<b and a==110)
print(a==100 and a<b)

False
True

In [72]:
a=100
b=200
print(a<b or a<10)
print(a>b or b>300)

True
False

In [73]:
a=100
print(not a)
print(not False)

False
True

In [80]:
kor=90
eng=80
math=100
print(kor>=80 and eng>=80 and math>=80)

True