<a href="https://colab.research.google.com/github/YejooPark/Python/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print('10 + 10 =', 10+10 ,sep= '$')

10 + 10 =$20

In [ ]:
print(1,2,3,4,5)

1 2 3 4 5

In [ ]:
print (1,2,3,4,5 , sep='')

12345

In [ ]:
print("Hello")
print('Hello')
print("I'm Yejoo")

Hello
Hello
I'm Yejoo

In [ ]:
print("python"+"program")
print("ptrhon" , "program" ,sep='')
print("python", "program")

pythonprogram
ptrhonprogram
python program

In [ ]:
print("파이썬 " * 5)

파이썬 파이썬 파이썬 파이썬 파이썬

In [ ]:
print("파이썬 \n" * 5)

파이썬
파이썬
파이썬
파이썬
파이썬

In [ ]:
print("Python Program is Great Program!" )

Python Program is Great Program!

In [ ]:
print("50+50의 합= ", 50+50)
print("50 + 50의 합= 100" ,sep='')

50+50의 합=  100
50 + 50의 합= 100

In [ ]:
name= "홍길동"
print("나의 이름은", name, "이다")

나의 이름은 홍길동 이다

In [ ]:
name= "홍길동"
print("나의 이름은", name,'이고,')
_number= 20
print("나이는", _number, '세이다.' )

나의 이름은 홍길동 이고,
나이는 20 세이다.

In [ ]:
name = '홍길동'
age = 20
print ('나의 이름은 ' ,name, '이고,\n', '나이는 ',age, '세이다')

나의 이름은  홍길동 이고,
 나이는  20 세이다

In [ ]:
name="홍길동"
kibon= 2000000
bonus= 500000
salary=kibon+bonus
print("{0}씨 월급은 기본급 {1:,} 보너스 {2:,} 총급여액 {3:,} 이다.".format(name, kibon, bonus, salary))

홍길동씨 월급은 기본급 2,000,000 보너스 500,000 총급여액 2,500,000 이다.

In [ ]:
height = 168.9154685143521
print("나의 키는" ,height, '입니다')
print("나의 키는 {0:.2f}".format(height))

나의 키는 168.9154685143521 입니다
나의 키는 168.92

In [ ]:
height = 168.9154685143521
print("나의 키는" ,height, '입니다')
print("나의 키는 {0:.2f}".format(height))

나의 키는 168.9154685143521 입니다
나의 키는 168.92

In [ ]:
name="홍길동"
age=20
print(f"이름은 {name}이고, 나이는 {age} 세이다.")

이름은 홍길동이고, 나이는 20 세이다.

In [ ]:
name="홍길동"
age=20
city="Paju"
print("안녕하세요 "+name+" 입니다.")
print("\t사는곳은 ",city,"이며 "+"고향은 ", city, "입니다.")

안녕하세요 홍길동 입니다.
	사는곳은  Paju 이며 고향은  Paju 입니다.

In [ ]:
print('안녕하세요 딘입니다.')
print('안녕하세요\t 딘입니다.')
print('안녕하세요\b 딘입니다.')
print('안녕하세요\\ 딘입니다.')

안녕하세요 딘입니다.
안녕하세요	 딘입니다.
안녕하세요 딘입니다.
안녕하세요\ 딘입니다.

In [ ]:
name= "홍길동"
kibon=2000000
bonus=500000
salary=kibon+bonus
print("{0}씨 월급은 기본급 {1:,} 보너스 {2:,}, 총급여액 {3:,} 이다.".format(name, kibon, bonus, salary))

홍길동씨 월급은 기본급 2,000,000 보너스 500,000, 총급여액 2,500,000 이다.

In [ ]:
num1, num2, num3=100, 200, 300
print("{0:d} {1:5d} {2:05d}".format(num1, num2, num3))

100   200 00300

In [ ]:
name= "홍길동"
age= 20
city= "Paju"
print("안녕하세요 " +name+" 입니다.")
print("제 나이는 "+str(age)+"세이며,",end="")
print("\t\t사는 곳은 " +city+ "이며,"+"고향은 \""+city+"\"입니다.")

안녕하세요 홍길동 입니다.
제 나이는 20세이며,		사는 곳은 Paju이며,고향은 "Paju"입니다.

In [ ]:
가로의너비= 20
세로의높이= 20
print("직사각형의 넓이="+ str(가로의너비 * 세로의높이))

직사각형의 넓이=400

In [ ]:
국어=100
영어=80
수학=75 
총점=국어+ 영어+ 수학
print("국어 : " + str(국어))
print("영어 : " + str(영어))
print("수학 : " + str(수학))
print("총점 : " + str (총점))
print("평균 : " + str (총점/3)+"0")

국어 : 100
영어 : 80
수학 : 75
총점 : 255
평균 : 85.00

In [ ]:
국어 = 100
영어 = 80
수학 = 75 
총점 = 국어+ 영어+ 수학
평균 = 총점/3
print("국어 : " + str(국어))
print("영어 : " + str(영어))
print("수학 : " + str(수학))
print("총점 : " + str (총점))
print("평균 : {0:.2f}".format(평균))

국어 : 100
영어 : 80
수학 : 75
총점 : 255
평균 : 85.00

In [ ]:
국어 = 100
영어 = 80
수학 = 75
총점 = 국어 + 영어 + 수학 
평균 = 총점 /3
print("국어 :",국어 )
print("영어 :",영어 )
print("수학 :",수학 )
print('총점 :', 총점)
print("평균 : {0:.2f}".format(평균))

국어 : 100
영어 : 80
수학 : 75
총점 : 255
평균 : 85.00